@model ARCVDS_Final.Models.Beneficios

@{
    ViewBag.Title = "Detalhes";
}
<style>
    dt {
        text-align: left;
        color: black;
    }
</style>
<h2><a style="color:black;">Detalhe do Benefício </a></h2>

<div>
    <hr />
    <div class="containercenas" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

        </dl>
    </div>
</div>
<h3>
    <a class="btn btn-primary" href="/Beneficios/Index" style="color:white;">Voltar à lista!</a>
</h3>
