<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title> ARCVDS - Associação Recreativa Cultural Vale da Serra</title>
    <link rel="stylesheet" type="text/css" href="./Content/Site.css"/>
    <link rel="stylesheet" type="text/css" href="./Content/Navigation-Clean.css" />
    <link rel="stylesheet" type="text/css" href="./Content/simple-footer.css" />
    <link rel="stylesheet" type="text/css" href="./Content/styles.css" />
</head>
<body>
<div class="titulo"><h3>SOBRE</h3></div>
<hr />
<div class="container">
    <div class="row painel">
        <div class="col-lg-12">
            <h3>Tecnologias da Internet II - 2016/2017</h3>
            <h4>Aluno n.º 15233 - Rodrigo Daniel Nunes Carrão</h4>
        </div>
        <div class="col-lg-12">
            <img id="foto" class="img-circle img-center figuras" src="~/Content/Imagens/fotorc.jpg" />
            <h3>Utilizadores</h3>
            <p><span class="info">Role:</span> Administrador</p>
            <p><span class="info">E-mail:</span> dalves@coxos.pt</p>
            <p><span class="info">Palavra-chave:</span> 123Qwe#</p>
            <br />
            <p><span class="info">Role:</span> Funcionario</p>
            <p><span class="info">E-mail:</span> aazevedo@coxos.pt</p>
            <p><span class="info">Palavra-chave:</span> 456Qwe#</p>
            <br />
            <p><span class="info">Role:</span> Socio</p>
            <p><span class="info">E-mail:</span> smodesto@gmail.com</p>
            <p><span class="info">Palavra-chave:</span> 789Qwe#</p>
        </div>
    </div>
</div>
<script>
    alterElems();
</script>
</body>
</html>
