@{
    ViewBag.Title = "Sobre";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title> História do clube</title>
</head>
<style>
    .titulo {
        font-size:24px;
        font-family:Arial;
            
    }

    #Titulo {
        font-size:36px;
        text-align:center;
    }

    h3 {
        font-family:Arial;
        font-size:medium;
    }
    h4 {
        font-family:Arial;
        font-size:20px;
        text-align:justify;

    }
</style>
<body>
    <div class="titulo"><h3>Associação Recreativa Cultural Vale da Serra</h3></div>
    <hr />
    <header>
        <h3 id="Titulo">Como surgiu esta Associação ? </h3>
    </header>
    <h4>
    Esta associação foi fundada em ---- por João Patrício, morador do Vale da Serra que para os mais amigos era Patrício.
    Desde do ínicio que foi uma fundação que o principal objetivo era ser um café onde pessoal mais jovem
    podia conversar, beber o seu café e também as suas jolinhas.
    </h4>
    <h3 class="titulo">
    Vantagens:
    </h3>
</body>
</html>

