@{
    ViewBag.Title = "Contactos";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title> Beneficios | Associação Recreativa Cultural Vale da Serra</title>
    <link rel="stylesheet" type="text/css" href="./Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="./Content/Navigation-Clean.css" />
    <link rel="stylesheet" type="text/css" href="./Content/simple-footer.css" />
    <link rel="stylesheet" type="text/css" href="./Content/styles.css" />
</head>

<style>
    #imagem img {
        width: 250px;
        height: 250px;
        opacity: 0.7;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
</style>
<body>
    <h1 style="text-align:center; color:azure">
        Benefícios
    </h1>
    <div id="imagem">
        <img src="~/ImagensEventos/Associacao.png" style="position:center;" />
    </div>
    <section id="main">
        <div class="d-flex justify-content-center align-items-center align-content-center" id="conteudo2">
            <div class="jumbotron" style="background-color:rgba(233,236,239,0.56);">
                <h1 class="text-center" style="font-family:ABeeZee, sans-serif;">Associação Recreativa Cultural Vale da Serra</h1>
                    <h4 class="text-center" style="font-family:ABeeZee, sans-serif;">Descontos em Ginástica e outras modalidades<img src="~/ImagensBeneficios/g.jpg" style="opacity:0.7" /></h4>
                    <h4 class="text-center" style="font-family:ABeeZee, sans-serif;">Descontos no balcão da associação em todo o tipo de bebidas<img src="~/ImagensBeneficios/b.jpg" style="opacity:0.7" /></h4>
                    <h4 class="text-center" style="font-family:ABeeZee, sans-serif;">Passeios com almoço gratuito<img src="~/ImagensBeneficios/t.png" style="opacity:0.7" /></h4>
            </div>
        </div>
    </section>
    <script>
    </script>
</body>