@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p><strong>Número telefone:</strong> 249890917</p>
    <p><strong>Morada:</strong> Rua do Freixo, nº</p>
    <p><strong>Abertura:</strong>Todos os fins de semana das 20:00 até às tantas </p><br />
</address>
<address>
    <strong>Support:</strong>valedaserra@gmail.com<br />
</address>