<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>ARCVDS - Associação Recreativa Cultural Vale da Serra</title>
    <link rel="stylesheet" type="text/css" href="./Content/Site.css"/>
    <link rel="stylesheet" type="text/css" href="./Content/Navigation-Clean.css" />
    <link rel="stylesheet" type="text/css" href="./Content/simple-footer.css" />
    <link rel="stylesheet" type="text/css" href="./Content/styles.css" />
</head>
<body>
<section id="main">
    <div class="d-flex justify-content-center align-items-center align-content-center" id="conteudo">
        <div class="jumbotron" style="background-color:rgba(233,236,239,0.56);">
            <h1 class="text-center" style="font-family:ABeeZee, sans-serif;">Associação Recreativa Cultural Vale da Serra</h1>
            <p class="text-center"><a class="btn btn-primary" role="button" href="https://www.facebook.com/Associa%C3%A7%C3%A3o-Recreativa-e-Cultural-de-Vale-da-Serra-425421104239277/" style="background-color:rgb(55,61,68);" target="_blank">FacebookPage</a></p>
        </div>
    </div>
</section>
</body>
</html>

