@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle btnBarra" data-toggle="dropdown">Bem-vindo @User.Identity.GetUserName()!<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if(User.IsInRole("Socios")) {
                    <li><a href="~/Pessoas/EditDados">Ver/Editar Dados Pessoais</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
                    }
                    else {
                    <li><a href="~/Pessoas/Index">Ver Sócios</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
                    }

                </ul>
            </li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


